version: "3.8"
services:
  postgresql:
    image: postgres:16.3
    restart: always
    container_name: smeem
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --default-time-zone=Asia/Seoul
    volumes:
      - ./postgresql/data:/var/lib/postgresql/data
